<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Sneaker Store-product</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/datepicker3.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-table.css}">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <script>
        function chooseFile(fileInput) {
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }

    </script>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#sidebar-collapse" data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index"><span>Sneaker</span>Store</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>
                        Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
<!--                        <li><a href="#">-->
<!--                            <svg class="glyph stroked male-user">-->
<!--                                <use xlink:href="#stroked-male-user"></use>-->
<!--                            </svg>-->
<!--                            Hồ sơ</a></li>-->
                        <li><a href="/logout">
                            <svg class="glyph stroked cancel">
                                <use xlink:href="#stroked-cancel"></use>
                            </svg>
                            Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div class="col-sm-3 col-lg-2 sidebar" id="sidebar-collapse">
    <ul class="nav menu">
        <li><a href="/page">
            <svg class="glyph stroked open folder">
                <use xlink:href="#stroked-open-folder"/>
            </svg>
            Quản lý tài khoản</a></li>

        <li class="active"><a href="/product/page">
            <svg class="glyph stroked bag">
                <use xlink:href="#stroked-bag"></use>
            </svg>
            Quản lý sản phẩm</a></li>

        <li><a href="/bill">
            <svg class="glyph stroked open folder">
                <use xlink:href="#stroked-open-folder"/>
            </svg>
            Quản lý Đơn hàng</a></li>

        <li><a href="/index">
            <svg class="glyph stroked open folder">
                <use xlink:href="#stroked-open-folder"/>
            </svg>
            Trang Chủ</a></li>
    </ul>

</div>
<!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <svg class="glyph stroked home">
                    <use xlink:href="#stroked-home"></use>
                </svg>
            </a></li>
            <li><a href="/product">Quản lý sản phẩm</a></li>
            <li class="active">Thêm sản phẩm</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thêm sản phẩm</h1>
        </div>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form enctype="multipart/form-data" method="post" th:action="@{/product}" th:object="${product}">
                        <div class="col-md-6">
                            <input th:field="*{id_prd}" type="hidden">
                            <div class="form-group">
                                <label>Tên sản phẩm</label>
                                <input class="form-control" name="name_prd" placeholder="" required
                                       th:field="*{name_prd}">
                            </div>
                            <div class="form-group">
                                <label>Giá nhập sản phẩm</label>
                                <input class="form-control" min="0" name="improt_price" required th:field="*{import_price}"
                                       type="number">
                            </div>
                            <div class="form-group">
                                <label>Giá bán sản phẩm</label>
                                <input class="form-control" min="0" name="price" required th:field="*{price}"
                                       type="number">
                            </div>
                            <div class="form-group">
                                <label>Số lượng</label>
                                <input class="form-control" min="0" name="quantity" required th:field="*{quantity}"
                                       type="number">
                            </div>
                            <div class="form-group">
                                <label>Size</label>
                                <input class="form-control" min="0" name="size" required th:field="*{size}"
                                       type="number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div>
                                    <img src="/uploads/gift.gif" style="filter: drop-shadow(0 0 5px rgb(119, 119, 145));"
                                         width="80px">
                                </div>
                                <br>
                                <label>Ảnh sản phẩm</label>

                                <input accept="image/*" id="imageFile" name="fileImage" onchange="chooseFile(this)" required
                                       type="file">
                                <img alt="Ảnh sản phẩm" height="200" id="image" src="/uploads/shoe-icon.png" width="200">
                                <!--                            Cảnh báo-->
                                <p style="color: red" th:text="${ERRORPRD}"></p>
                            </div>
                            <div class="form-group">
                                <label>Danh mục</label>
                                <select class="form-control" name="type" th:field="*{type}">
                                    <option th:value="'1'">Jordan</option>
                                    <option th:value="'2'">Nike</option>
                                    <option th:value="'3'">Adidas</option>
                                    <option th:value="'4'">Converse</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Mô tả sản phẩm</label>
                                <textarea class="form-control" name="details_prd" required rows="3"
                                          th:field="*{details_prd}"></textarea>
                            </div>
                            <button class="btn btn-success" name="sbm" type="submit">Thêm mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->

</div>
<!--/.main-->
<script th:src="@{/js/jquery-1.11.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-table.js}" type="text/javascript"></script>
<!--icon-->
<script th:src="@{/js/lumino.glyphs.js}" type="text/javascript"></script>
</body>

</html>