<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>SneakerStore</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/datepicker3.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-table.css}">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/b1754390d6.js"></script>


</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#sidebar-collapse" data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index"><span>Sneaker</span>Store</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>
                        Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">
                            <svg class="glyph stroked male-user">
                                <use xlink:href="#stroked-male-user"></use>
                            </svg>
                            Hồ sơ</a></li>
                        <li><a href="#">
                            <svg class="glyph stroked cancel">
                                <use xlink:href="#stroked-cancel"></use>
                            </svg>
                            Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div class="col-sm-3 col-lg-2 sidebar" id="sidebar-collapse">
    <ul class="nav menu">
        <li><a href="/page">
            <svg class="glyph stroked open folder">
                <use xlink:href="#stroked-open-folder"/>
            </svg>
            Quản lý tài khoản</a></li>

        <li class="active"><a href="/product">
            <svg class="glyph stroked bag">
                <use xlink:href="#stroked-bag"></use>
            </svg>
            Quản lý sản phẩm</a></li>

        <li><a href="/bill">
            <svg class="glyph stroked open folder">
                <use xlink:href="#stroked-open-folder"/>
            </svg>
            Quản lý Đơn hàng</a></li>

        <li><a href="/index">
            <svg class="glyph stroked open folder">
                <use xlink:href="#stroked-open-folder"/>
            </svg>
            Home</a></li>
    </ul>

</div>
<!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa-solid fa-house"></i></a></li>
            <li class="active">Danh sách sản phẩm</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Danh sách sản phẩm</h1>
        </div>
    </div>
    <!--/.row-->
    <div class="btn-group" id="toolbar">

        <a class="btn btn-success" href="/addProduct">
            <i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
        </a>
    </div>
    <div>
        <div>&nbsp</div>
        <form th:action="@{/product}">
            Filter: <input name="name" required th:value="${name}" type="text">
            &nbsp;
            <input type="submit" value="Search">
            &nbsp;
            <input onclick="clearFilter()" type="button" value="Clear">

            <span style="color: red;
                        font-size: 16px;"
                  th:text="${ERROR}"></span>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="text-align: center;">STT</th>
                            <th style="text-align: center;">Tên</th>
                            <th style="text-align: center;">Giá nhập</th>
                            <th style="text-align: center;">Giá bán</th>
                            <th style="text-align: center;">Ảnh</th>
                            <th style="text-align: center;">Số lượng</th>
                            <th style="text-align: center;">Size</th>
                            <th style="text-align: center;">Thể loại</th>
                            <th style="text-align: center;">Mô tả</th>
                            <th style="text-align: center;">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="prd,state : ${product}">
                            <input id="prd_id" name="id" th:value="${prd.id_prd}" type="hidden">
                            <tr>
                                <td th:utext="${state.count}"></td>
                                <td th:id="nameprd" th:text="${prd.name_prd}"></td>
                                <td th:text="${prd.import_price}"></td>
                                <td style="width:50px ; height:50px;" th:text="${prd.price}"></td>
                                <td style="">
                                    <img alt="" height="180" th:src="@{${prd.imagePath}}" width="200">
                                </td>
                                <td th:text="${prd.quantity}"></td>
                                <td th:text="${prd.size}"></td>
                                <td th:text="${prd.type}"></td>
                                <td th:text="${prd.details_prd}"></td>
                                <td class="form-group">
                                    <a class="btn btn-primary"
                                       style="width:60px ; height:40px;"
                                       th:href="@{/edit?id_prd={id_prd}(id_prd=${prd.id_prd})}">Edit</a>
                                    <!--                                        <a th:href="@{/delete?id_prd={id_prd}(id_prd=${prd.id_prd})}" class="btn btn-primary delete-product" >Delete</a>-->
                                    <button class="btn btn-danger" id="deleteprd"
                                            style="width:60px ; height:40px;" th:data-id="${prd.id_prd}"
                                    >Delete
                                    </button>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
</div>
<!--/.main-->

<script type="text/javascript">
        function clearFilter(){
            window.location = '/product';
        }

</script>
<script type="text/javascript">
        $("#deleteprd").on("click", function(){
<!--            alert("hello");-->
            var id = $(this).attr("data-id");
            var id_prd = $("#prd_id").val();
            console.log(id_prd);
            console.log(id);
<!--              alert(id);-->
            var result = confirm("Do you want to delete?");
            if (result) {
                 window.location = "/delete?id_prd="+id_prd;
            }else{
                 window.location = "/product";
            }
        })

</script>

<script th:src="@{/js/jquery-1.11.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-table.js}" type="text/javascript"></script>

</body>

</html>